* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  padding: 60px;
  background-color: #fff;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.loading {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 30px 4px;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
}

/* Estilo para la flecha de cambio de página */
.pagination .previous,
.pagination .next {
  margin-right: 5px;
  cursor: pointer;
}

/* Estilo para la flecha de cambio de página cuando está deshabilitada */
.pagination .previous.disabled,
.pagination .next.disabled {
  cursor: not-allowed;
  color: #ccc;
}